<div class="container">
	<div class="well">
		<% userId = request.original_url.scan( /\d+$/ ).first.to_i %>

		<% get_user_url = ('https://jsonplaceholder.typicode.com/users/' + userId.to_s) %>

		<% user = HTTParty.get(get_user_url,
		:headers =>{'Content-Type' => 'application/json'}) %>

		<br><br>

		<h1> <%= user["name"] %> </h1> <br>

		<div class="row">
			<div class="col">

				<b>Username: </b> <%= user["username"] %><br>
				<b>E-Mail: </b> <%= mail_to user["email"] %><br>
				<b>Phone: </b> <%= user["phone"] %><br>
				<b>Address: </b> <br>
				<% for address_attr in user["address"] do %>
					<%= address_attr[0] %>: <%= address_attr[1] %> <br>
				<% end %>

				<b>Website: </b> <%= link_to nil, "http://#{user["website"]}", target: "_blank" %><br>

				<b>Company: </b> <br>
				<% for company_attr in user["company"] do %>
					<%= company_attr[0] %>: <%= company_attr[1] %> <br>
				<% end %>

				<% get_albums_url = ('https://jsonplaceholder.typicode.com/albums?userId=' + userId.to_s) %>

				<% albums = HTTParty.get(get_albums_url,
				:headers =>{'Content-Type' => 'application/json'}) %>

				<br>
				<h4> <%= user["name"] %>'s Albums: </h4>

				<ul>
				<% for album in albums do %>
					<% album_id = album["id"].to_s %>
					<li><%= link_to album["title"], "/albums/#{album_id}" %></li>
				<% end %>
				</ul>

				
				<%= link_to "Back", albums_path %>

			</div>

			<div class="col">
				<iframe
				  width="500"
				  height="400"
				  frameborder="0"
				  scrolling="no"
				  marginheight="0"
				  marginwidth="0"
				  src="http://maps.google.com/maps?q=<%= user['address']['geo']['lat'] %>, <%= user['address']['geo']['lng'] %>&z=15&output=embed"
				 </iframe>
	    </div>
		</div>
	</div>
</div>
